{% extends 'login/base.html' %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'en' %}Log in{% else %}Вхід{% endif %}{% endblock %}

{% block content %}
<h1>{% if LANGUAGE_CODE == 'en' %}Log in{% else %}Вхід{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Увійти</button>
</form>
<div class="links">
    <a class="button secondary" href="{% url 'register' %}">{% if LANGUAGE_CODE == 'en' %}Create an account{% else %}Створити акаунт{% endif %}</a>
</div>
{% endblock %}
